<!-- https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse --> 

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    </head>
    <title>Draw a digit</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 10;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.shadowBlur = 2;
        ctx.lineJoin = ctx.lineCap = 'round';
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        ctx.clearRect(0, 0, w, h);
        document.getElementById("canvasimg").style.display = "none";
        predicted_digit.innerHTML = "?";
        update_status("Ready");
    }
    
    function predict() {
        document.getElementById("canvasimg").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasimg").src = dataURL;
        document.getElementById("canvasimg").style.display = "inline";
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }

    function update(data) {
        // erase();
        var prediction = data.prediction;
        var prob = data.prob;
        var text = ""
        for (let i = 0; i < prediction.length; i++) {
            text += "<li>" +prediction[i] + ":" + prob[i] + "</li>" +"\n";
        }
        predicted_digit.innerHTML = text;
    }

    function fetchdata()
    { 
        update_status("Predicting");
        $.ajax({
            type : "POST",
            url:"{{ url_for('predict_digit') }}",
            data:{'drawing_data': can.toDataURL()},
            success: function(data){
                update(data);
                update_status("Done");
            }
        });
    }

    function update_status(text) {
        var status_text = "Current status: " + text;
        let status = document.getElementById("status");
        status.innerHTML = status_text;
    }

    function retrain() {
        update_status("Training");
        $.ajax({
            type : "POST",
            url:"{{ url_for('retrain') }}",
            data:{'drawing_data': can.toDataURL()},
            success: function(data){
                update(data);
                update_status("Done Training");
            }
        });
    }
    </script>
    <body onload="init()">
        <canvas id="can" width="150" height="150" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="button" value="predict" id="btn" size="30" onclick="fetchdata()" style="position:absolute;top:40%;left:10%;">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:40%;left:15%;">
        <input type="button" value="retrain" id="retrain" size="30" onclick="retrain()" style="position:absolute;top:40%;left:20%;">
        <label id='predicted_digit' name='predicted_digit'> {{prediction}}</label> 
        <label id="status" name="status">Current status: {{status}}</label>

    </body>
    </html>